html{
  position: relative;
}

body{
  font-family: univers, sans-serif;
  padding-bottom: 150px;
}

.navigation{
  text-align: right;
  font-size: 10px;
  text-transform: uppercase;
  color: black;
  position: absolute;
  top: 30px;
  right: 5vw;
}

.button{
    background-color: white;
    color: dimgrey;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }

.button:hover{
  background-color: red;
  colour: white;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 5px;
    font-weight: bolder;
    padding-top: 15px;
  }

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  }

.project{
  weight: 20vw;
  width: 20vw;
  background-color: blue;
  display: block;
  vertical-align: top;
  margin: 1.5% 1.5%
  width: 30%;
  colour: red;
}

.project:hover{
  background-color: blue;
  color: white;
}

.Topic{
  font-weight: normal;
  padding-top: 8vw;
}

.
